.link-input {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden; /* Это позволит кнопке выглядеть как часть инпута */
}

.link-input input {
    flex: 1;
    border: 2px solid #ccc; /* Добавляем границу */
    outline: none;
    padding: 10px;
    font-size: 16px;
    background-color: #fff; /* Убираем полупрозрачность, чтобы сделать инпут более заметным */
    border-radius: 5px 0 0 5px; /* Закругляем только левую часть */
}

.link-input input::placeholder {
    color: #888;
}

.submit-button {
    background-color: transparent; /* Цвет фона кнопки */
    border: 2px solid #ccc;
    cursor: pointer;
    padding: 10px; /* Добавляем немного отступа */
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0; /* Закругляем только правую часть */
}

.submit-button img {
    width: 19px;
    height: 19px;
    transition: transform 0.3s;
}

.submit-button:hover img {
    transform: translateY(-2px); /* Легкий эффект при наведении */
}

.submit-button:focus {
    outline: none; /* Убираем контур при фокусе */
}

/* Опционально: стиль для состояния загрузки */
.uploading {
    opacity: 0.6; /* Слегка затемняем инпут при загрузке */
    pointer-events: none; /* Отключаем взаимодействие */
}
