.dialog-box {
	width: 75%;
	max-width: 800px;
	margin: 0 auto;
	border: 2px solid #ccc;
	border-radius: 10px;
	overflow-y: auto;
	max-height: 500px;
	padding: 15px;
	background-color: #f9f9f9;
	height: 500px;
}

.dialog-messages {
	display: flex;
	flex-direction: column;
}

.dialog-message {
	margin: 5px 0;
}

.dialog-message.parent {
	padding: 10px;
	border-radius: 5px;
}

.dialog-message.child {
	padding: 10px;
	border-radius: 5px;
}
